.container {
  margin-bottom: 100px;
}

.orange-bg {
  background-color: #e0d5d4;
  border-radius: 8px;
}

.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b, #ff136f);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}

.cat1 {
  background-color: orange;
}

.cat2 {
  background-color: orchid;
}

.cat3 {
  background-color: lightblue;
}

.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 10px;
}

.categories h1 {
  color: white;
}

.categories img {
  width: 100px;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 15px gray;
}
